 <!-- templates/base.html -->

 {% load static %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
         crossorigin="anonymous" />
     <link rel="stylesheet" href="{% static 'css/index.css' %}" />
     <title>Social Auth with Django</title>
 </head>
 <body>
     <div class="container-fluid">
         <div>
             <h1 class="text-white text-center">{% block title %}{% endblock %}</h1>
             <div class="card p-5">
                 {% block content %}
                 {% endblock %}
             </div>
         </div>
     </div>
 </body>
 </html>